extends ../layouts/application.pug

block header
  = t('views.users.newUser.signUp')

block content
  - viewName = 'views.users'
  +formFor()(action=route('users') method='post')
    +input(user, viewName, 'email', errors)(type="text")
    +input(user, viewName, 'password', errors)(type="password")
    +input(user, viewName, 'firstname', errors)(type="text")
    +input(user, viewName, 'lastname', errors)(type="text")
    +submit(user)(value=t('views.users.newUser.submit'))
