extends ../layouts/application.pug

block header
    = t('views.statuses.edit.header')

block content
    +formFor()(action=route('patchStatus', { id: status.id }) method='post')
        +input(status, 'views.statuses', 'name', errors)(type='text')
        +buttonTo(route('patchStatus', { id: status.id }), 'patch')(
            class='btn btn-primary'
            value=t('views.statuses.edit.submit')
        )