extends ../layouts/application.pug

block header
  = t('views.session.new.signIn')

block content
  -viewName = 'views.session.new'
  +formFor()(action=route('session') method='post')
    +input(signInForm, viewName, 'email', errors)(type="text")
    +input(signInForm, viewName, 'password')(type="password")
    +submit(signInForm)(value=t('views.session.new.submit'))
